<div class="">
    <h1 class="color-primary">My Accounts</h1>

    <div *ngIf="primaryAccount() as primaryAccount" class="card primary-account margin-bottom" style="background: white; width: 50%;">
        <div class="card-header">
            <h2 class="account-title">{{ primaryAccount.name }}</h2>
            <p class="currency"> {{ primaryAccount.currency }} </p>
        </div>

        <div class="card-body footer">
            <div>
                <p class="currency">Available balance</p>
                <h2 class="balance"> {{ getDisplayBalance(primaryAccount) }}</h2>
            </div>
            <a class="detail-link" [routerLink]="['/accounts', primaryAccount.id]">Details ></a>
        </div>
    </div>

    <div *ngFor="let account of otherAccounts()" class="accounts-container">
        <div class="card">
            <div class="card-header">
                <h2 class="account-title"> {{ account.name }} </h2>
                <p class="currency"> {{ account.currency }} </p>
            </div>

            <div class="card-body footer">
                <div>
                    <p class="currency">Available balance</p>
                    <h2 class="balance">{{ getDisplayBalance(account) }} </h2>
                </div>
                <a class="detail-link" [routerLink]="['/accounts', account.id]">Details ></a>
            </div>
        </div>
    </div>
</div>