<div *ngIf="account() as account" class="account-container">
    <div>
        <button routerLink="/" class="primary">
            < Back </button>
    </div>

    <div class="account-header" style="margin-bottom: 16px;">
        <h1> {{ account.name }} </h1>
        <div class="flex flex-column">
            <h1 class="color-primary" style="margin-bottom: 0;"> CUR: {{ account.balance }} </h1>
            <span class="text-muted"> Available balance</span>
        </div>
    </div>

    <div *ngIf="transactions() as transactions" class="transactions-details card">
        <div class="card-header">
            <h3>Transaction history</h3>
        </div>

        <div *ngFor="let transaction of transactions">
            <div>
                {{ transaction.amount }}
            </div>
            <div>
                {{ transaction.transactionType }}
            </div>
            <div>
                {{ transaction.currency }}
            </div>
        </div>

        <hr>
    </div>
</div>