<div *ngIf="account() as account" class="account-container">
    <div>
        <button navigateBack class="primary">
            < Back </button>
    </div>

    <div class="account-header" style="margin-bottom: 16px;">
        <h1> {{ account.name }} </h1>
        <div class="flex flex-column">
            <h1 class="color-primary" style="margin-bottom: 0;"> CUR: {{ account.balance }} </h1>
            <span class="text-muted"> Available balance</span>
        </div>
    </div>

    <div *ngIf="transactions() as transactions" class="transactions-details card">
        <div class="card-header">
            <h3>Transaction history</h3>
        </div>

        <app-table [data]="transactions"
            [columns]="['currency', 'transactionType', 'amount', 'balanceBefore', 'balanceAfter']" [showDetails]="true"/>

        <hr>
    </div>
</div>